.task-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
}

.task-info h3 {
  margin-bottom: 4px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.priority {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.priority.low {
  background: green;
}

.priority.medium {
  background: orange;
}

.priority.high {
  background: red;
}

.task-actions button {
  margin-left: 5px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}

.delete {
  background: red;
  color: white;
}
